* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  max-width: 768px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.content-wrapper {
  display: grid;
  grid-template-areas: 
  "filter sort"
  "filter tickets";
  grid-template-columns: 4fr 9fr;
  gap: 20px;
}

.filter {
  grid-area: filter;
  width: 100%;
  overflow: hidden;
  justify-self: start;
}

.filter-inner {
  width: 100%;
  background-color: aquamarine;
  word-wrap: break-word;
}

.sort {
  grid-area: sort;
  background-color: chartreuse;
}

.tickets {
  grid-area: tickets;
  background-color: grey;
}

.ticket {
  background-color: darkcyan;
}