* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}

.main-wrapper {
  max-width: 768px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.content-wrapper {
  display: grid;
  grid-template-areas: 
  "filter sort"
  "filter tickets";
  grid-template-columns: 4fr 9fr;
  gap: 20px;
}

.filter {
  grid-area: filter;
  width: 100%;
  overflow: hidden;
  justify-self: start;
}

.filter-inner {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.filter__title {
  padding: 10px 20px;
  font-weight: 600;
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.filter__list {

}

.filter__item {
  padding: 10px 20px;
}

.sort {
  grid-area: sort;
  background-color: chartreuse;
}

.tickets {
  grid-area: tickets;
}

.ticket {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}