* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}

#root {
  background-color: #F3F7FA;
  width: 100%;
  min-height: 100vh;
}